<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Copter of Doom</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/socket.io/socket.io.js"></script>
		<!--<script src="/dronestream/nodecopter-client.js"></script>-->
		{{{js "jQuery.js"}}}
		{{{js "require.js"}}}
		{{{js "underscore.js"}}}
	</head>
	<body>
		{{{body}}}
	</body>
</html>
