<div id="content" class="container">
	<h1>{{title}}</h1>
	<h2>Altitude: <span id='altitude'></span></h2>
	<h2>Battery %: <span id='battery'></span></h2>
	<h2>Controls:</h2>

	<canvas id="pictures"></canvas>
	<!--
	<div id="pictures"></div>
	-->

	<dl>
		<dt>Up</dt>
		<dd>a</dd>
		<dt>Down</dt>
		<dd>z</dd>
		<dt>Forwards</dt>
		<dd>arrow up</dd>
		<dt>Backwards</dt>
		<dd>arrow down</dd>
		<dt>Left</dt>
		<dd>arrow left</dd>
		<dt>Right</dt>
		<dd>arrow right</dd>
		<dt>Takeoff</dt>
		<dd>enter</dd>
		<dt>Land</dt>
		<dd>escape</dd>
	</dl>
</div>

{{{js "app.js"}}}
