<div id="content" class="container">
	<h1>{{title}}</h1>
	<h2>Leap Status: <span id='leap-status'>Not Connected</span></h2>
	<h2>Controls:</h2>

	<canvas id="videoCanvas" width="640" height="360"></canvas>
	<script type="text/javascript">
		// Show loading notice
		var canvas = document.getElementById('videoCanvas');
		var ctx = canvas.getContext('2d');
		ctx.fillStyle = '#444';
		ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);

		// Setup the WebSocket connection and start the player
		var client = new WebSocket( 'ws://localhost:8084/' );
		var player = new jsmpeg(client, {canvas:canvas});
	</script>
	<dl>
		<dt>Up</dt>
		<dd>a</dd>
		<dt>Down</dt>
		<dd>z</dd>
		<dt>Forwards</dt>
		<dd>arrow up</dd>
		<dt>Backwards</dt>
		<dd>arrow down</dd>
		<dt>Left</dt>
		<dd>arrow left</dd>
		<dt>Right</dt>
		<dd>arrow right</dd>
		<dt>Takeoff</dt>
		<dd>enter</dd>
		<dt>Land</dt>
		<dd>escape</dd>
	</dl>
</div>

{{{js "app.js"}}}
