body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-top:0;
}

a {
	color: #00B7FF;
}

#pictures {
	float: right;
	width: 960px;
	height: 540px;
	border: 1px solid black;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 1em;
}

table.drone-info tbody tr td {
  min-width:200px;
}