body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#videoCanvas {
	float: right;
	width: 640;
	height: 360;
	border: 1px solid black;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 1em;
}
